.text-container{
    background-color: aliceblue;
    font-size: medium;
    border: solid gray 2px;
    border-radius: 10px 10px 10px 0px;
    padding: 0px;

}
.title-space{
    /* display: flex; */
    width: 100%;
    background-color: lightblue;
    padding-left: calc(var(--bs-gutter-x) * .5);
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    box-shadow: 1px 1px;
    text-shadow: 1px 1px gray;

}

.content-space{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}