<app-custom-box></app-custom-box>
<!-- <app-git-widget></app-git-widget> -->

<!-- <app-modern-file-manager></app-modern-file-manager> -->

<!-- Example of portfolio-box with terminal/VHS style -->
<app-portfolio-box [title]="'Public Repositories'"></app-portfolio-box>

<!-- Example of another custom-box with different configuration -->
<!-- 
<app-custom-box 
  [title]="'Project Showcase'"
  [showGlareEffect]="true"
  [showTerminal]="false"
  [accentColor]="'#4287f5'"
  [rightColumnSize]="12">
  
  <div class="project-content">
    <h2>Your projects would go here</h2>
  </div>
</app-custom-box>
-->
