<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="navbar-brand-container">
      <h1 class="title mb-0">Daniel Perez</h1>
      <h1 class="sub-title mb-0">Full Stack Developer</h1>
    </div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav" [class.show]="isNavbarCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let page of pages">
          <a class="nav-link" 
             [class.active]="isActive(page)" 
             (click)="navigateToPage(page)">
            {{page}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>